.card {
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;

    .cursor {
        cursor: pointer;

        &:hover {
            transform: translateY(-8px);
        }
    }

    .image {
        height: 350px;
        width: 350px;
    }

    .product-image {
        height: 550px;
        width: 550px;
    }

    .product-title {
        font-size: $font-size-xl;
        font-weight: $font-weight-extra-bold;
    }

    .product-price {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
    }

    .product-label {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;

    }

    .product-description {
        width: 600px;
    }
}